body {
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     color:rgb(0, 26, 255)
    height: 100vh;
    display flex;
    justify-content: center;
    align-items: center;
}

/* alteramos a cor de fundo*/
/*meche no estilo das letras*/
